@import "tailwindcss";

@theme {
  --color-text: #6b6375;
  --color-maintext: #08060d;
  --color-background: #fff;
  --color-border: #e5e4e7;
  --color-accent: #aa3bff;
  --color-subtext: #9ca3af;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Inter', system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f0f9ff;
}

::-webkit-scrollbar-thumb {
  background: #93c5fd;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #60a5fa;
}
